.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(to bottom, #1a5276, #0e3e58, #08233e);
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 60%;
  gap: 1vw;
  align-items: center;
  justify-content: center;
}

svg {
  width: 70%;
  height: 70%;
}

.svg:hover {
  filter: grayscale(100%);
}

.zoom-animation {
  animation: Zoom infinite 20s linear;
  transition: filter 0.5s ease;
}

.rotate-animation {
  animation: Rotate infinite 15s linear;
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Zoom {
  from {
    transform: scale(0.85, 0.85);
  }
  50% {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.85, 0.85);
  }
}

@media (max-width: 767px) {
  .container {
  grid-template-columns: repeat(2, 1fr);
  }
}
